<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.yata.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.yata.vo.PointVO" alias="PointVO" />
		<typeAlias type="com.yata.vo.CarVO" alias="CarVO" />
		<typeAlias type="com.yata.vo.CarTypeVO" alias="CarTypeVO" />
		<typeAlias type="com.yata.vo.CarPhotoVO" alias="CarPhotoVO" />
		<typeAlias type="com.yata.vo.ReserveVO" alias="ReserveVO" />
		<typeAlias type="com.yata.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="com.yata.vo.ReturnVO" alias="ReturnVO" />
		<typeAlias type="com.yata.vo.ReviewVO" alias="ReviewVO" />
	</typeAliases>
</configuration>