<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- package-name : com.springboard.mapper, class-name : BoardMapper -->
<mapper namespace="com.yata.mapper.BoardMapper">
	
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO board (brd_num, brd_title, user_num, brd_writer, brd_content)
		VALUES
		(brd_sequence.nextval, #{brd_title}, #{user_num}, #{brd_writer}, #{brd_content})
	</insert>
	
	<select id="showList" resultType="BoardVO">
		SELECT brd_num, brd_title, brd_writer, brd_regDate
		FROM board
		WHERE brd_del = '0'
		ORDER BY brd_num DESC
	</select>
	
	<select id="selectBoardByBrd_num" parameterType="int" resultType="BoardVO">
		SELECT brd_num, brd_title, brd_writer, brd_content, brd_regdate
		FROM board
		WHERE brd_num = #{ brd_num } AND brd_del = '0'
	</select>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board 
		WHERE brd_num = #{ brd_num }
	</delete>
	
	<update id="updateBoard" parameterType="BoardVO">
		UPDATE board
		SET brd_title = #{ brd_title }, brd_content = #{ brd_content } 
		WHERE brd_num = #{ brd_num }
	</update>
	
	<resultMap type="ReviewVO" id="ReviewMap">
		<id column="rev_num" property="rev_num" />
		<result column="user_num" property="user_num" />
		<result column="car_num" property="car_num" />	
		<result column="res_num" property="res_num" />
		<result column="rev_title" property="rev_title" />
		<result column="rev_writer" property="rev_writer" />
		<result column="rev_regDate" property="rev_regDate" />
		<result column="rev_content" property="rev_content" />
		<result column="rev_grade" property="rev_grade" />
		<result column="rev_photo" property="rev_photo" />
		<result column="rev_del" property="rev_del" />
		<result column="rev_cancel" property="rev_cancel" />
		<association property="car" column="car_num" resultMap="CarMap" />
	</resultMap>
	<resultMap type="CarVO" id="CarMap">
		<id column="car_num" property="car_num" />
		<result column="car_fuel" property="car_fuel" />
		<result column="car_manual" property="car_manual" />
		<result column="car_content" property="car_content" />
		<result column="car_price" property="car_price" />
		<result column="car_date" property="car_date" />
		<association property="carType" column="car_num" resultMap="carTypeMap" />
	</resultMap>
	<resultMap type="CarTypeVO" id="carTypeMap">
		<id column="car_num" property="car_num" />
		<result column="car_maker" property="car_maker" />
		<result column="car_class" property="car_class" />
	</resultMap>
	
	<select id="reviewList" resultType="ReviewVO" resultMap="ReviewMap">
		SELECT r.rev_num, r.rev_title, r.rev_writer, r.rev_regDate, t.car_class, t.car_maker, r.rev_grade
		FROM review r, car c, car_type t 
		WHERE r.car_num = c.car_num 
		AND c.car_num = t.car_num
		
	</select> 
	
	<select id="reviewDetail" parameterType="int" resultType="ReviewVO">
		SELECT * 
		FROM review
		WHERE rev_num = #{ rev_num } 
	
	</select>


</mapper>