<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- package-name : com.springboard.mapper, class-name : BoardMapper -->
<mapper namespace="com.yata.mapper.CarMapper">
	<!-- 1.13 수정 시작 -->
	<insert id="insertCar" parameterType="CarVO"
		useGeneratedKeys="true" keyColumn="car_num" keyProperty="car_num">
		INSERT INTO
		car (car_num, car_fuel, car_content, car_price, car_manual)
		VALUES (carnum_sequence.nextval, #{car_fuel}, #{car_content}, #{car_price},
		#{car_manual})
	</insert>

	<insert id="insertCarPhoto" parameterType="CarPhotoVO">
		INSERT INTO car_photo
		(car_photonum, car_num, car_picture)
		VALUES
		(carphotonum_sequence.nextval, #{car_num}, #{car_picture})
	</insert>

	<insert id="insertCarType" parameterType="CarTypeVO">
		INSERT INTO car_type
		(car_num, car_class, car_maker)
		VALUES (#{car_num}, #{car_class},
		#{car_maker})
	</insert>

	<resultMap type="CarVO" id="CarMap">
		<id column="car_num" property="car_num" />
		<result column="car_fuel" property="car_fuel" />
		<result column="car_manual" property="car_manual" />
		<result column="car_content" property="car_content" />
		<result column="car_price" property="car_price" />
		<result column="car_date" property="car_date" />
		<association property="carType" column="car_num"
			resultMap="carTypeMap" />
		<collection property="carPhotos" column="car_num"
			resultMap="carPhotoMap" />
	</resultMap>
	<resultMap type="CarTypeVO" id="carTypeMap">
		<id column="car_num" property="car_num" />
		<result column="car_maker" property="car_maker" />
		<result column="car_class" property="car_class" />
	</resultMap>
	<resultMap type="CarPhotoVO" id="carPhotoMap">
		<id column="car_photoNum" property="car_photoNum" />
		<result column="car_num" property="car_num" />
		<result column="car_picture" property="car_picture" />
	</resultMap>

	<select id="findCar" resultMap="CarMap" resultType="CarVO">
		SELECT
		c.car_num, t.car_maker, t.car_class, c.car_fuel, c.car_manual,
		c.car_content, c.car_price, c.car_date, p.car_num, p.car_photonum,
		p.car_picture
		FROM car c
		INNER JOIN car_type t
		ON c.car_num = t.car_num
		LEFT OUTER JOIN car_photo p
		ON c.car_num =
		p.car_num
	</select>

	<delete id="deleteCar" parameterType="int">
		DELETE FROM car
		WHERE
		car_num = #{car_num}
	</delete>
	<select id="findCarNum" resultMap="CarMap" parameterType="int">
		SELECT
		c.car_num, t.car_maker, t.car_class, c.car_fuel, c.car_manual,
		c.car_content, c.car_price, c.car_date, p.car_num, p.car_photonum,
		p.car_picture
		FROM car c
		LEFT OUTER JOIN car_type t
		ON c.car_num = t.car_num
		LEFT OUTER JOIN car_photo p
		ON c.car_num =
		p.car_num
		where c.car_num = #{car_num}
	</select>
	
	<select id="showModifyCar" resultMap="CarMap" resultType="CarVO">
		SELECT c.car_num, t.car_maker, t.car_class, c.car_fuel, c.car_manual, c.car_content, c.car_price, c.car_date, p.car_num, p.car_photonum, p.car_picture 
		FROM car c 
		INNER JOIN car_type t 
		ON c.car_num = t.car_num 
		LEFT OUTER JOIN car_photo p 
		ON c.car_num = p.car_num 
		WHERE c.car_num = #{car_num}
	</select>
	
	
	<update id="updateCar" parameterType="CarVO">
		UPDATE car 
		SET car_content = #{car_content}, car_fuel = #{car_fuel}, car_price = #{car_price}, car_manual = #{car_manual} 
		WHERE car_num = #{car_num}
	</update>
	
	<update id="updateCarType" parameterType="CarTypeVO">
		UPDATE car_type 
		SET car_class = #{car_class}, car_maker = #{car_maker} 
		WHERE car_num = #{car_num}
	</update>
	
	<insert id="updateCarPhoto" parameterType="CarPhotoVO">
		INSERT INTO car_photo
		(car_photonum, car_num, car_picture)
		VALUES
		(carphotonum_sequence.nextval, #{car_num}, #{car_picture})
	</insert>
	
	<delete id="deletePhoto" parameterType="int">
		DELETE FROM car_photo 
		WHERE car_num = #{car_num}
	</delete>
	
	<select id="selectAllCars" resultType="int">
		SELECT COUNT(*)
		FROM car
	</select>
	<select id="selectAllPhotos" resultType="int">
		SELECT COUNT(*)
		FROM car_photo
	</select>

</mapper>